@model DemoDMS.Models.Folder

@{
    ViewData["Title"] = "Initial";
}

<h1>Contents</h1>
<a asp-action="Create" asp-route-id="@Model.Id"><button type="button" class="btn btn-secondary">New Folder</button></a>

@foreach (var item in Model.Contents)
{
    <a asp-acion="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
    <p>-----</p>
}

