@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Document Managment System</h1>
    <p>A System made for storing, editing, searching and downloading files</p>
    <a asp-controller="Documents" asp-action="Index" >Click here</a> to get started
</div>
